---
	import Layout from '~/layouts/Layout.astro';

	import BasicCTA from '~/components/astro/ctas/BasicCTA.astro';
	import Speakers from '~/components/astro/features/Speakers.astro';
	import StepsFeatures from '~/components/astro/features/StepsFeatures.astro';
	import HeroWithImage from '~/components/astro/hero/HeroWithImage.astro';
---

<Layout title="JHU AMS Research Conference">
	<main>
		<HeroWithImage />
		<Speakers/>
		<StepsFeatures />
		<BasicCTA />
	</main>
</Layout>