---
	import Layout from '~/layouts/Layout.astro';

	import BasicCTA from '~/components/astro/ctas/BasicCTA.astro';
	import Speakers from '~/components/astro/features/Speakers.astro';
	import Schedule from '~/components/astro/features/Schedule.astro';
	import HeroWithImage from '~/components/astro/hero/HeroWithImage.astro';
---

<Layout title="JHU AMS Research Conference">
	<main>
		<HeroWithImage />
		<Schedule />
		<Speakers/>
		<BasicCTA />
	</main>
</Layout>