---
  const { } = Astro.props;
---

<section class="relative" id = "register">

  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="max-w-3xl mx-auto text-center pb-12">
        <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4">Register for the Conference!</h2>
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-700 mt-4 mb-4 sm:mb-0" href="#0">
                Register
              </a>
            </div>
      </div>
    </div>
  </div>
</section>